#pageHeader {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: none;
}

#fbloginMsg,
#fbloginBtn {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.datepicker {
    padding: 10px 15px;
}

#photo {
    width: "81px";
    height: "81px";
}

#photoDiv {
    margin-bottom: -40.5px;
}

.well {
    border-top: 5px solid #0c84e4;
    /*box-shadow: 5px 5px 5px #cccccc;*/
}

body {
    background-image: url("../images/Sport_Icons_Freebie.png");
    padding-top: 50px;
}

html,
body,
.container-table {
    height: 100%;
}

.container-table {
    display: table;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

ul {
    list-style-type: none;
}
